@if (appUser$ | async; as appUser) {

    <header class="app-header" >

        <div class="logo-area">
            <div class="logo-image">
                <img ngSrc="../assets/images/logo.jpg" alt="" height="60" width="60" priority/>
            </div>
            <div class="title-container">
                <span class="title-name">CRMApp</span>
                <span class="title-description">Management Dashboard</span>
            </div>
        </div>

        <div class="user-area">
            <div class="user-info">
                <span class="user-role">{{ appUser.username }}</span>
                <span class="user-email">{{ appUser.email }}</span>
            </div>
            <button class="logout-button" (click)="logout()">
                Logout <span class="arrow-icon">&rarr;</span>
            </button>
        </div>

    </header>

}

